.button {
  @include flex-center(true);

  column-gap: 0.3em;
  padding: 10px 30px;
  color: var(--color-red);
  background-color: var(--color-pink);
  border: none;
  border-radius: var(--border-radius-m);
  user-select: none;
  cursor: pointer;
  white-space: nowrap;
  transition-duration: var(--transition-duration);


  @include hover {
    color: var(--color-white);
    background-color: var(--color-red);
  }

  &:active {
    scale: 1.05;
  }

  &:disabled {
    color: var(--color-gray);
    background-color: var(--color-black);
    pointer-events: none;
  }

  &--red {
    background-color: var(--color-red);
    color: var(--color-white);

  }

  &:has(.button__icon:only-child) {
    padding: 0;
  }

  &--transparent {
    background-color: transparent;
    color: var(--color-gray);

    @include hover {
      color: var(--color-white);
      background-color: var(--color-black);
    }

    &:has(.button__icon:only-child) {
      @include square(44px);

      .button__icon {
        --iconSize: 34px;
      }
    }
  }


}
