.grid {
  --gridColumns: 1;

  display: grid;
  grid-template-columns: repeat(var(--gridColumns), 1fr);
  column-gap: 0;
  row-gap: 30px;
  min-width: 0;

  > * {
    min-width: 0;
  }

  &--2 {
    --gridColumns: 2;
  }

  &--3 {
    --gridColumns: 3;

    row-gap: 60px;

    @include tablet {
      --gridColumns: 2;
    }

    @include mobile {
      grid-template-columns: 1fr;
    }
  }
}