.grid {
  --gridColumns: 1;

  display: grid;
  grid-template-columns: repeat(var(--gridColumns), 1fr);
  column-gap: fluid(50, 40);
  row-gap: 30px;

  &--2 {
    --gridColumns: 2;
  }

  &--3 {
    --gridColumns: 3;

    row-gap: 60px;

    @include tablet {
      --gridColumns: 2;

      row-gap: 42px;
    }

    @include mobile {
      --gridColumns: 1;

      row-gap: 30px;
    }
  }
}