.hero {
  margin-bottom: fluid(95, 10);


  &__inner {
    display: flex;
    align-items: center;
    column-gap: 100px;
    row-gap: 20px;

    @include tablet {
      flex-direction: column;
      align-items: flex-start;
      min-height: auto;

    }


  }

  &__body {


    display: flex;
    flex-direction: column;
    row-gap: 20px;
    justify-content: center;

    @include mobile {
      width: 100%;
      min-width: unset;
    }


    &-actions {
      display: flex;
      gap: 20px;


    }
  }

  &__description {
    color: var(--color-gray);
    max-width: 450px;
    font-size: 18px;

  }


  &__button {
    @include mobile {
      width: 100%;
      justify-content: center;
    }
  }

  &__images {

    flex-shrink: 1;
    min-width: 0;
  }

  &__image {
    width: 100%;
    height: auto;
    max-width: 100%;
    display: block;
    border-radius: var(--border-radius-l);

  }
}
