.hero {
  margin-bottom: 45px;

  @include mobile{
    min-height: 650px;
  }

  &__inner {
    min-height: 100vh;
    display: flex;
    gap: fluid(50,20);


    @include tablet {
      flex-direction: column;
      min-height: auto;
    }

  }

  &__body {
    min-width: 672px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    justify-content: center;

    @include mobile {
      width: 100%;
    }


    &-actions {
      display: flex;
      gap: 20px;

      @include mobile {
        flex-direction: column;
        row-gap: 10px;
      }
    }
  }

  &__description {
    color: var(--color-gray);
    max-width: 450px;
    font-size: 18px;
  }


  &__button {
    @include mobile {
      width: 100%;
      justify-content: center;
    }
  }

  &__images {
    flex-grow: 1;
  }

  &__image {
    width: 100%;
    height: 100%;
    border-radius: var(--border-radius-l);

  }
}
