html {
  &.is-lock {
    overflow: hidden;
  }
}

body {
  display: flex;
  flex-direction: column;
  font-family: var(--font-family-base), sans-serif;
  font-size: 16px;
  color: var(--color-gray);
  background-color: var(--color-white);
}

main {
  flex-grow: 1;
}

h1, .h1,
h2, .h2,
 {
  color: var(--color-red);
  font-family: "Playfair Display", sans-serif;
}


h1,
.h1 {
  @include fluid-text(50, 42);

  font-weight: 500;
}

h2,
.h2 {
  font-size: 40px;
  font-weight: 500;

  @include mobile {
    font-size: 32px;
  }
}

h3,
.h3 {
  font-size: 30px;
  font-weight: 500;

  @include mobile {
    font-size: 22px;
  }
}

h4,.h4 {
  font-size: fluid(24, 16);
}



a,
button,
label,
input,
textarea,
select,
svg * {
  transition-duration: var(--transition-duration);
}

a {
  color: inherit;

  @include hover {
    color: var(--color-red);
  }

  &[class] {
    text-decoration: none;
  }
}

:focus-visible {
  @include focus-visible;
}
