.card {
  display: flex;
  flex-direction: column;
  row-gap: 20px;



  &__images {
    height: 400px;
    width: 500px;
    overflow: hidden;

    @include tablet {
      height: 370px;
      width: 460px;
    }


  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: var(--border-radius-m);
  }

  &__body {
    display: grid;
    row-gap: 10px;

  }

  &__title {
    color: var(--color-red);
    font-family: "Playfair Display", sans-serif;
    font-size: 32px;
  }

  &__info {
    display: grid;
    row-gap: 10px;
    font-size: 18px;
    white-space: pre-line;
  }

  &__description {

  }

  &__parameters {


  }

  &__actions {
    display: flex;
    align-items: center;
    column-gap: 20px;
  }

  &__price {
    color: var(--color-black);
    font-size: 20px;
  }
  

}