.card {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  min-width: 0;
  max-width: 32rem;

@include mobile {
  max-width: none;
  width: 100%;
}

  &__images {

    height: auto;
    width: 100%;
    max-width: 500px;
    overflow: hidden;
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: var(--border-radius-m);
  }

  &__body {
    display: grid;
    row-gap: 10px;

  }

  &__title {
    color: var(--color-red);
    font-family: "Playfair Display", sans-serif;
    font-size: 32px;
    overflow-wrap: anywhere;
  }

  &__info {
    display: grid;
    row-gap: 10px;
    font-size: 18px;
    white-space: pre-line;
  }


  &__actions {
    display: flex;
    align-items: center;
    column-gap: 20px;
  }

  &__price {
    color: var(--color-black);
    font-size: 20px;
  }
  

}