.tabs-navigation {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;

  &__button {
    @include flex-center(true);
    padding: fluid(10, 5) fluid(30, 15);
    max-width: 100%;

    border-radius: var(--border-radius-s);
    transition-duration: var(--transition-duration);
    cursor: pointer;
    user-select: none;
    color: var(--color-red);
    background-color: var(--color-pink);
    white-space: nowrap;

    @include hover {
      color: var(--color-white);
      background-color: var(--color-red);
    }



    &.is-active {
      color: var(--color-white);
      background-color: var(--color-red);
      pointer-events: none;
    }
  }
}