.catalog {
  padding-top: 60px;
  padding-bottom: fluid(80, 45);
  display: grid;
  row-gap: fluid-to-laptop(75, 30);

  &__header {
    text-align: center;
  }

  &__title {
    max-width: 100%;
    overflow-wrap: break-word;
    word-break: break-word;
    white-space: normal;
  }


}