.header {
  padding-block: 20px;


  &__inner {
    display: flex;
    justify-content: space-between;

    @include mobile {
      justify-content: end;
    }
  }

  &__overlay-menu-dialog {
    position: fixed;
    inset: 0;
    flex-direction: column-reverse;
    justify-content: start;
    row-gap: 16px;
    width: 100%;
    height: 100%;
    padding: var(--container-padding-x);
    background-color: var(--color-white);
    border: none;

    @include mobile-above {
      display: contents;
    }

    @include mobile {
      &[open] {
        display: flex;
      }
    }
  }

  &__menu {
    @include mobile {
      overflow-y: auto;
      display: flex;
      justify-content: center;
      height: 100%;
      border-radius: 0;
    }

    &-list {
      display: flex;
      align-items: center;
      column-gap: 6px;

      @include mobile {
        flex-direction: column;
        row-gap: 16px;
        margin-block: auto;
      }
    }

    &-link {
      padding: 14px 30px;
      color: var(--color-red);
      font-size: 18px;
      text-transform: uppercase;

      &.is-active {
        color: var(--color-white);
        background-color: var(--color-red);
        border-radius: var(--border-radius-s);
      }
    }
  }



  &__burger-button {
    position: relative;
  }
}
