.banner {
  &__inner {
    padding-block: 26px;
    margin-bottom: 47px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    align-items: center;
    text-align: center;
    min-width: 263px;
    background: url(../../assets/images/banner/bg.jpg) center/cover no-repeat;
  }

  &__title {
    max-width: 476px;
  }
  
  &__description {
    max-width: 324px;
  }

  &__button {
    max-width: 262px;
  }
}